/* title */
h1 {font-family: Calibri, Helvetica, sans-serif; color: white; font-size: 6.5em}
h2 {font-family: Calibri, Helvetica, sans-serif; color: white; font-size: 5.5em}

/* regular font */
p {font-family: Calibri, Helvetica, sans-serif; color: white; font-size: 1.23m}
.p {font-family: Calibri, Helvetica, sans-serif; color: white; font-size: 1.3em}


/* other */
h6 {font-family: Calibri, Helvetica, sans-serif; color: white}

/*link colour*/
a.list {font-family: Calibri, Helvetica, sans-serif}
a.list:link {color: #00a7cc}
a.list:visited {color: #00a7cc}
a.list:hover {color: #00ffc8; text-decoration: underline}

/*home link colour*/
a.home {font-family: Calibri, Helvetica, sans-serif; font-size: 1.9em}
a.home:link {color: #ce00e0}
a.home:visited {color: #ce00e0}
a.home:hover {color: #ea00ff; text-decoration: underline}

/*home button*/
.home-button {
    background: linear-gradient(180deg, #4fa1f3, #4283c4); /* Gradient background */
    color: #7FFFD4; /* Aqua text color */
    font-size: 18px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.home-button:hover {
    background: linear-gradient(180deg, #1d6ebe, #1d6ebe);
}

.home-button:active {
    background: linear-gradient(180deg, #14589b, #14589b);
}

